:root {
  --addStudentHeight: 48px;
}

.addStudent {
  display: flex;
  height: var(--addStudentHeight);
}

.addStudentButton {
  border: none;
  cursor: pointer;
  width: var(--addStudentHeight);
  border-radius: var(--space);
  background-color: var(--color-primary-light);
  color: white;
  font-weight: bold;
  margin-left: var(--space);
}

@media screen and (max-width: 700px) {
  .addStudent {
    top: unset;
    bottom: 60px;
  }
}
