.editor {
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  height: var(--editor-height);
  margin: 0;
  padding-left: calc(var(--space) * 3);
  padding-right: calc(var(--space) * 3);
  border-bottom: 1px solid var(--text-grey-400);
  position: fixed;
  z-index: 2;
}

.editorControls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin-right: 0;
}

.addStudent {
  border-radius: var(--space);
  padding: var(--space);
  border: 1px solid var(--text-grey-400);
  margin-right: var(--space);
}

.addStudent::placeholder {
  color: var(--text-grey-400);
}
