.board {
  display: grid;
  grid-template-columns: repeat(
    var(--squaresPerColumn),
    calc(
      (100vh - var(--editor-height) - var(--space)) / var(--squaresPerColumn)
    )
  );
  grid-template-rows: repeat(
    var(--squaresPerRow),
    calc(
      (100vh - var(--editor-height) - var(--space)) / var(--squaresPerColumn)
    )
  );
}

.square {
  aspect-ratio: 1 / 1;
  height: calc(
    (100vh - var(--editor-height) - var(--space)) / var(--squaresPerColumn)
  );
  border-right: 1px dashed var(--text-grey-300);
  border-bottom: 1px dashed var(--text-grey-300);
}
