.board {
  display: flex;
  flex-wrap: wrap;
  max-width: calc((100vh - (var(--editor-height) + var(--space))));
  margin: 0 auto;
}

.square {
  aspect-ratio: 1 / 1;
  height: calc(
    (100vh - (var(--editor-height) + var(--space))) / var(--squaresPerColumn)
  );
}
