.controls {
  width: 65px;
  box-shadow: var(--shadow-xl);
  padding: calc(1.5 * var(--space));
  border-radius: 0 var(--space) var(--space) 0;
  background-color: white;
}

.icon {
  border-radius: var(--space);
  background-color: var(--text-grey-200);
  padding: calc(0.5 * var(--space));
  cursor: pointer;
}

.icon:hover {
  transform: translateY(-3px);
  transition: transform 150ms ease;
}

.tooltip {
  position: relative;
}

.tooltip::before {
  content: attr(data-tooltip);
  position: absolute;
  z-index: 5;
  top: 50%;
  transform: translateY(-50%);
  margin-left: var(--space);
  left: 100%;
  width: max-content;
  max-width: 250px;
  padding: var(--space) calc(1.5 * var(--space));
  border-radius: var(--space);
  border-start-start-radius: 0;
  background-color: var(--color-primary-light);
  color: white;
  display: none;
}

.tooltip:hover::before {
  display: block;
}

.tooltip + .tooltip {
  margin-top: var(--space);
}

@media screen and (max-width: 700px) {
  .controls {
    display: flex;
    height: 65px;
    border-radius: var(--space) var(--space) 0 0;
    width: calc(49px * 4);
  }

  .icon {
    width: calc(0.25 * (100% - 3 * var(--space)));
  }

  .icon + .icon {
    margin-top: 0;
    margin-left: var(--space);
  }
}
