.description {
  margin-bottom: 8px;
  height: 150px;
  overflow-y: auto;
}

.list {
  list-style: none;
  margin-bottom: 8px;
}

.target {
  width: 100%;
  transition: transform 300ms ease;
  margin-top: 8px;
}
