.studentEditor {
  margin-top: calc(2 * var(--space));
}

.editorItem {
  display: flex;
  justify-content: space-between;
  margin-top: calc(3 * var(--space));
}

.editorItem .description {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
}

.editorItem .description::before {
  display: inline-block;
  content: " ";
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  margin-right: var(--space);
  background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'><circle cx='50' cy='50' r='50' fill='%2380ced5' /></svg>");
}

.selectForbiddenNeighborsButton {
  width: 350px;
  margin-left: var(--space);
}

#name {
  padding: var(--space);
}

table {
  width: 100%;
}

td,
th {
  padding: var(--space);
  border: 1px solid var(--color-primary-light);
}

th {
  text-align: left;
}

.forbiddenNeighbor {
  padding: 2px var(--space);
  border-radius: 16px;
  background-color: var(--color-warning);
  margin: 0 var(--space);
}

@media screen and (max-width: 700px) {
  .studentEditor {
    height: auto;
  }

  .editorItem {
    flex-wrap: wrap;
    margin-top: var(--space);
  }

  .editorItem > * {
    margin: var(--space) 0;
  }

  .editorItem select,
  .editorItem input,
  .selectForbiddenNeighborsButton {
    display: block;
    margin: 0 var(--space);
    width: 100%;
  }
}
