.layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.room {
  border-top: 1px dashed var(--text-grey-300);
  border-left: 1px dashed var(--text-grey-300);
}

@media screen and (max-width: 700px) {
  .layout {
    flex-direction: column-reverse;
  }
}
