.grid {
  display: grid;
  grid-template-rows: var(--editor-height) auto;
  grid-template-columns: 4fr 1fr;
  gap: var(--space);
  grid-template-areas:
    "editor editor"
    "board sidebar";
}

#editor {
  grid-area: editor;
}

#sidebar {
  grid-area: sidebar;
  margin-right: var(--space);
}

#board {
  grid-area: board;
  margin-left: var(--space);
  max-height: calc(100vh - (var(--editor-height) + var(--space)));
}
